<div class="contentlogin">
	<video  id="bgvid" playsinline autoplay muted loop>
		<!--<source src="assets/images/Schoolsdiary.webm" type="video/webm">-->
		<source src="assets/images/Schoolsdiary.mp4" type="video/mp4">
	</video>
	<div class="page page-core page-forgotpass ng-scope" style="padding-top:40px !important" login>
		<div class="branding text-center">
			<img src="assets/images/logo-login.png" style="height:120px;width:120px" alt="">
			<h2 class="brand" style="color:#9c9c9c !important;">
			<strong>{{'login.label.schoolsdiary'|translate}}</strong></h2>
		</div>
		<div class="login-modal" >
			<form class="ng-pristine ng-valid" name="forgetpswform">
				<div style="font-size:20px !important;color:#ffffff!important;padding:15px 0px">
				{{'login.label.forgotPassword'|translate}}</div>
				<p class="help-block text-left" style="font-size:15px !important;color:#ffffff!important">{{'login.label.emailresetupsw'|translate}} </p>
				<div class="form-group with-addon" style="margin-top:10px">
					<span class="input-addon"><i class="icon-envelope"></i></span>
					<input placeholder="Email Address" data-ng-model="emailAddress" name="email" class="form-control" type="email"  validator="required" required-error-message="Email Address is required" valid-method="watch">
				</div>
				<p class="help-block text-left" data-ng-show="show_message" style="font-size:13px !important;color:red!important">
				{{message}}
				</p>
				<div id="divLoading" data-ng-show="loading"></div>
				<button type="submit" validation-submit="forgetpswform" data-ng-click="forgetpassword()" class="btn btn-lg btn-block btn-rounded-40">{{'common.submit'|translate}}</button>
			</form>
			<div class="mt-15 text-center" style="color:#ffffff !important">{{'login.label.knowupsw'|translate}}<a ui-sref="login" style="font-size:15px">{{'login.label.pleaselog'|translate}}</a></div>
		</div>
		<div class="footer-inner text-center" style="position:relative;text-align:center;color:white;padding-top:8px;">
			{{'login.label.fottercontent'|translate}}
		</div>
	</div>
</div>