<div class="page page-dashboard pull-to-header ng-scope" data-ng-init="getallfeeconfigtype()" data-ng-controller="setfeeconfigurationController">
    <div class="row headcontent">
        <h3 class="schooldiary_h2">{{'feeconfiguration.feecnfg' | translate}}</h3>
    </div>
    <div class="row" style="margin-left:-10px !important;">
        <div class="col-md-12" style="padding-right:5px !important">
            <ol class="breadcrumb" id="setresyults">
                <li data-ng-click="gotodashboard()"><i class="glyphicon glyphicon-home" style="font-size:11px !important;right:5px !important"></i><a> Home</a></li>
                <li class="active ">{{'feeconfiguration.FeeConfigurations'|translate}}</li>
            </ol>
        </div>
    </div>
    <div class="panel panel-default" style="margin-left: 6px;">
        <div class="panel-heading">
			<i class="fa fa-bars"></i>
            <span class="labelstcampaign" style="font-size:14px;font-weight:bold"> {{feeconfigurationandview}}</span>
           <!-- <span class="pull-right">
				<a class="activeview navcursor" id="fee_config" data-ng-click="feeconfigdet()" style="margin-right:10px;font-weight:bold;">{{'feeconfiguration.FeeConfigurations' | translate}}</a>
				<a class="hoverview defaultcol navcursor" id="view_feestructure" data-ng-click="viewfeestructdet()" style="font-weight:bold;">View Fees Structure</a>

			</span>-->

        </div>
        <div class="panel-body" data-ng-show="feeconfigurationdetails">
            <div class="col-md-12 nopadmar" data-ng-show="hidesearchdet">
                <button href="#review" data-toggle="collapse" class="btn btn-sm btn-primary" data-ng-click="backtosearch()">
                    {{'feeconfiguration.AddNew' | translate}} <i class="glyphicon  glyphicon-plus" style="font-size:11px !important;left:5px !important"></i></button>
            </div>
            <div id="review" class="col-md-12 collapse">
                <div class="col-md-12" style="padding:0px 0px 8px 0px">
                    <button href="#review" data-toggle="collapse" class="btn btn-sm btn-danger" data-ng-click="returnsearch()">
                    <i class="glyphicon glyphicon-arrow-left" style="font-size:11px !important;right:2px !important"></i> {{'feeconfiguration.H/B' | translate}}</button>
                </div>
                <form name="createForm">
                    <div class="col-md-12" style="border:2px solid #eee;padding:10px">
                        <div class="col-md-12 nopadmar">
							<h3> {{'configclass.crefrm' | translate}}</h3>
							<div class="form-group col-md-4">
								<label for="batch" class="control-label ">{{'feeconfiguration.acyear' | translate}} </label>
								<select class="form-control" name="Batch" data-ng-model="FeeConfigurationVO.batchId" ng-options="batch.key as batch.value for batch in batches" required>
									<option value="">{{'feeconfiguration.selacyear' | translate}}</option>
								</select>
							</div>
							<div class="form-group col-md-4">
								<label for="class" class="control-label ">{{'feeconfiguration.Class' | translate}}</label>
								<select class="form-control" name="class" data-ng-model="FeeConfigurationVO.classId" ng-options="class.key as class.value for class in classes" required>
									<option value="">{{'feeconfiguration.selcls' | translate}}</option>
								</select>
							</div>
							<div class="form-group col-md-4">
								<label for="type" class="control-label">{{'feeconfiguration.Type' | translate}} </label>
								<select class="form-control" name="type" data-ng-model="FeeConfigurationVO.term" ng-options="term.key as term.value for term in terms" required>
									<option value="">{{'feeconfiguration.selter' | translate}}</option>
								</select>
							</div>
							<!--<div class="col-md-12 nopadmar">
								<hr style="color:#10464a">
							</div>-->
							<div class="col-md-12" style="border-top:1px solid #b3b6b7 ;border-bottom:1px solid #b3b6b7;padding:7px;margin-bottom:10px">
								<div class="col-md-2"></div>
								<div class="col-md-8 nopadmar" style="font-size:14px;font-weight:bold">
									<div class="col-md-6">
									Fees Type
									</div>
									<div class="col-md-4">
										<div class="col-md-10 nopadmar text-center">
										Amount
										</div>
									</div>
								</div>
								<div class="col-md-2"></div>
							</div>
							
							<div class="col-md-12 nopadmar" data-ng-repeat="feetype in feetypes">
								<div class="col-md-2"></div>
								<div class="col-md-4" style="font-weight:600">
									<span style="padding-left:5px"><input type="checkbox" data-ng-model="feetype.checked"></span> {{feetype.feeType}}
								</div>
								<div class="col-md-4 nopadmar">
									<div class="col-md-10 nopadmar">
										<input type="text" class="form-control pull-left" data-ng-model="feetype.amount" data-ng-disabled="!feetype.checked" placeholder="Amount" data-ng-change="findtotalamount(feetypes)">
									</div>		
								</div>
								<div class="col-md-2"></div>
							</div>
							<div class="col-md-12 nopadmar">
								<div class="col-md-4"></div>
								<div class="col-md-6">
									<div class="col-md-3" style="font-weight:600">
										Total Amount  
									</div>
									<div class="col-md-8" style="margin-left:15px">
										<input type="text" class="form-control" data-ng-model="totalAmount" data-ng-disabled="true" placeholder="Total Amount">
									</div>
									<div class="col-md-1"></div>
								</div>
								<div class="col-md-2"></div>
							</div>
                        </div>
						<div class="col-md-12" data-ng-show="errormsg">
							<div class="col-md-8 text-center text-red">
								{{'feeconfiguration.feeconfigerrmsg' | translate}}
							</div>
						</div>
                        <div class="col-md-12 nopadmar">
                            <div class="col-md-12 nopadmar text-center">
								<button class="btn btn-sm btn-primary fa fa-check" type="submit" validation-submit="createForm" data-ng-click="createForm.$valid && create()"> {{'configsection.create' | translate}}</button>
								<button class="btn btn-sm btn-danger" style="margin-left:10px;" ng-click="goclear()">{{'configreligion.clear' | translate}}</button>
                            </div>
                        </div>
                </form>
                </div>
			</div>
			<div class="col-md-12 " data-ng-show="showupdatefrm">
                <div class="col-md-12" style="padding:0px 0px 8px 0px">
                    <button data-toggle="collapse" class="btn btn-sm btn-danger" data-ng-click="updatesearch()">
                        <i class="glyphicon glyphicon-arrow-left" style="font-size:11px !important;right:2px !important">   
					</i> Back </button>
                </div>
				<form name="updateForm">       
					<div class="col-md-12" style="border:2px solid #eee;padding:10px">
                        <div class="col-md-12 nopadmar">
							<h3>{{'configclass.upfrm' | translate}}</h3>
							<div class="form-group col-md-4">
								<label for="batch" class="control-label ">{{'feeconfiguration.acyear' | translate}} </label>
								<select class="form-control" name="Batch" data-ng-model="UpdateVO.batchId" ng-options="batch.key as batch.value for batch in batches" required>
									<option value="">{{'feeconfiguration.selacyear' | translate}}</option>
								</select>
							</div>
							<div class="form-group col-md-4">
								<label for="class" class="control-label">{{'feeconfiguration.Class' | translate}}</label>
								<select class="form-control" name="class" data-ng-model="UpdateVO.classId" ng-options="class.key as class.value for class in classes" required>
									<option value="">{{'feeconfiguration.selcls' | translate}}</option>
								</select>
							</div>
							<div class="form-group col-md-4">
								<label for="type" class="control-label">{{'feeconfiguration.Type' | translate}} </label>
								<select class="form-control" name="type" data-ng-model="UpdateVO.term" ng-options="term.key as term.value for term in terms" required>
									<option value="">{{'feeconfiguration.selter' | translate}}</option>
								</select>
							</div>
							<div class="col-md-12" style="border-top:1px solid #b3b6b7 ;border-bottom:1px solid #b3b6b7;padding:7px;margin-bottom:10px">
								<div class="col-md-2"></div>
								<div class="col-md-8 nopadmar" style="font-size:14px;font-weight:bold">
									<div class="col-md-6">
									Fees Type
									</div>
									<div class="col-md-4">
										<div class="col-md-10 nopadmar text-center">
										Amount
										</div>
									</div>
								</div>
								<div class="col-md-2"></div>
							</div>
							<div class="col-md-12 nopadmar" data-ng-repeat="feetype in UpdateVO.feeTypes">
								<div class="col-md-2"></div>
								<div class="col-md-4" style="font-weight:600">
									<span style="padding-left:5px"><input type="checkbox" data-ng-model="feetype.checked"></span> {{feetype.feeType}}
								</div>
								<div class="col-md-4 nopadmar">
									<div class="col-md-10 nopadmar">
										<input type="text" class="form-control pull-left" data-ng-model="feetype.amount" data-ng-disabled="!feetype.checked" placeholder="Amount" data-ng-change="findupdatetotalamount(UpdateVO.feeTypes)">
									</div>		
								</div>
								<div class="col-md-2"></div>
							</div>
							<div class="col-md-12 nopadmar">
								<div class="col-md-4"></div>
								<div class="col-md-6">
									<div class="col-md-3" style="font-weight:600">
										Total Amount  
									</div>
									<div class="col-md-8" style="margin-left:15px">
										<input type="text" class="form-control" data-ng-model="updatetotalAmount" data-ng-disabled="true" placeholder="Total Amount">
									</div>
									<div class="col-md-1"></div>
								</div>
								<div class="col-md-2"></div>
							</div>
                        </div>
						<div class="col-md-12" data-ng-show="errormsg">
							<div class="col-md-8 text-center text-red">
								{{'feeconfiguration.feeconfigerrmsg' | translate}}
							</div>
						</div>
                        <div class="col-md-12 nopadmar">
                            <div class="col-md-12 nopadmar text-center">
								<button class="btn btn-sm btn-primary fa fa-check" type="submit" validation-submit="updateForm" data-ng-click="updateForm.$valid && update()"> {{'common.update' | translate}}</button>
								<button class="btn btn-sm btn-danger" style="margin-left:10px;" data-ng-click="go()"><i class="glyphicon glyphicon-remove" style="font-size:11px !important;right:5px !important"></i>{{'batchconfig.cancel'| translate}}</button>
                            </div>
                        </div>
					</div>
				</form>
            </div>
			<div class="col-md-12 nopadmar" data-ng-show="hidetable && show_datatables">
				<!--<button class="btn btn-sm btn-primary" ui-sref="addstudent">Add Student</button>
			-->
				<table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover generaltable minotaur-table no-footer dataTable" style="display: table; width: 850px;" role="grid">
					<thead class="tabletbody">
						<tr>
							<th>{{'configclass.sno' | translate}}</th>
							<th>{{'feeconfiguration.Batch' | translate}} </th>
							<th>{{'feeconfiguration.Class' | translate}}</th>
							<th>{{'feeconfiguration.term' | translate}}</th>
							<th style="width:350px">{{'feeconfiguration.FeesType' | translate}}</th>
							<th style="width:150px">{{'feeconfiguration.Amount' | translate}}</th>
							<th style="width:150px">{{'feeconfiguration.Actions' | translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in items">
							<td class="change_colr">{{$index+1}}</td>
							<td class="change_colr">{{item.batchName}}</td>
							<td class="change_colr">{{item.className}}</td>
							<td class="change_colr">{{item.term}}</td>
							<td class="change_colr">
							<span data-ng-repeat="typenames in item.feeTypes">{{typenames.feeType}} {{$last ? '' : ', '}}</span></td>
							<td class="change_colr">{{item.amount}}</td>
							<td><span><a data-ng-click="edit(item.id)"  tooltip-placement="top" tooltip="Edit" style="cursor: pointer;">
								<i class="creatli"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></i>
								</a>
								</span>
								<span><a data-ng-click="deletefeeconfig(item.id)" tooltip-placement="top" tooltip="Delete" style="cursor: pointer;">
									<i class="creatli"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></i>
								</a>
								</span>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="col-md-12 show_entries" data-ng-show="show_datatables">
					<div class="col-md-6 pull-left nopadmar" style="margin-top:15px !important">
					 Showing {{show_begin}} to {{show_end}} of {{totalRecords}} entries
					</div>
					<div class="col-md-6 pull-right nopadmar" data-ng-show="abovedata">
						<pagination class="pull-right"
						  ng-model="currentPage"
						  total-items="totalRecords"
						  max-size="maxSize"  
						  boundary-links="true">
						</pagination>
					</div>
				</div>
			</div>
			<div class="col-md-12 nopadmar" style="margin-top:10px !important" data-ng-show="hidetable" data-ng-if="items.length == 0">
				<table class="table table-striped table-bordered table-hover generaltable minotaur-table" role="grid"> 
					<thead class="tabletbody">
						<tr>
							<th style="width:50px">{{'configclass.sno' | translate}}</th>
							<th style="width:250px">{{'feeconfiguration.Batch' | translate}} </th>
							<th style="width:150px">{{'feeconfiguration.Class' | translate}}</th>
							<th style="width:350px">{{'feeconfiguration.FeesType' | translate}}</th>
							<th style="width:150px">{{'feeconfiguration.Amount' | translate}}</th>
							<th style="width:250px">{{'feeconfiguration.Actions' | translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						 <td colspan="6" class="change_colr">{{'studentmgmt.datanotfound' | translate}}</td>
						</tr>
					</tbody>
				</table>
			</div>
           
        </div>
    </div>
</div>

<script type="text/ng-template" id="deletefeeconfig.html">
    <div class="modal-header">
        <h4 class="modal-title popupfontst">{{'feeconfiguration.deletefeeconfig' | translate}}</h4>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-danger" ng-click="deletefeeconfigok()">{{'feeconfiguration.OK' | translate}}</button>
        <button class="btn btn-sm btn-primary" ng-click="okcancel()">{{'feeconfiguration.Cancel' | translate}}</button>
    </div>
</script>