<div class="page page-dashboard pull-to-header ng-scope" data-ng-init="viewstaffdata()" data-ng-controller="viewstaffController">
    <div class="row headcontent">
        <h3 class="schooldiary_h2">{{'staffmanagement.stmgmt' | translate}}</h3>
    </div>
    <div class="row schooldiary_row">
        <div class="col-md-12">
            <ol class="breadcrumb" id="setresyults">
                <li data-ng-click="gotodashboard()"><i class="glyphicon glyphicon-home" style="font-size:11px !important;right:5px !important"></i><a>{{'configreligion.home' | translate}}</a></li>
                <li><a ui-sref="staffmanagement">{{'staffmanagement.Staff' | translate}}</a></li>
                <li class="active">Profile</li>
            </ol>
        </div>
    </div>
   <div class="row schooldiary_row">
        <div class="col-md-12">
            <!-- tile -->
            <div class="tile tile-simple">
                <!-- tile body -->
                <section class="tile-body p-0">
                    <!-------<form name="outerForm" role="form" novalidate="" class="form-validation ng-invalid ng-invalid-required ng-valid-pattern ng-valid-url ng-valid-email ng-dirty ng-valid-parse ng-valid-maxlength ng-valid-minlength ng-valid-match ng-submitted" style="">---------->
                    <div id="addstaffDiv" active="forms.activeStep" justified="true" class="tab-wizard padded ng-isolate-scope">
                        <ul class="nav nav-pills nav-pills-custom-minimal custom-minimal-bottom profile-tabs"
						style="border-bottom:1px solid #6ec06e;">
                            <li role="presentation"  class="active">
								<a class="font-14-800" href="#firststep" style="border-radius:unset !important;font-size:14px !important;font-weight:bold !important" aria-controls="timeline" role="tab" data-toggle="tab" >
                                       {{'studentmgmt.overview' | translate}}
                                </a>
                            </li>
                            <li role="presentation"  class="">
								<a class="font-14-800" href="#secondstep" style="border-radius:unset !important;font-size:14px !important;font-weight:bold !important" aria-controls="timeline" role="tab" data-toggle="tab">
                                   {{'studentmgmt.profileinfo' | translate}}
                                </a>
                            </li>
                           <!-- <li role="presentation"  class="">
								<a class="font-14-800" href="#thirdstep" style="border-radius:unset !important" aria-controls="timeline" role="tab" data-toggle="tab">
                                        <!-- ngIf: step3.$valid {{'studentmgmt.account' | translate}}</uib-tab-heading>
                                </a>
                            </li>-->

                        </ul>
                        <div class="tab-content">
                            <!-- ngRepeat: tab in tabset.tabs -->
                            <div class="tab-pane ng-scope active" id="firststep">
								<div class="col-md-12">
									<div class="form-group col-md-2">
										<div class="thumb thumb-xl" style="width:120px !important;height:120px !important">
											<img data-ng-show="defaultimage" class="media-object img-circle" src="assets/images/default_school.png"  alt="">
											<img data-ng-show="schoolimage" class="media-object img-circle" style="height:80px !important" src="{{image_id}}" alt="">			
										</div>
									</div>
									<div class="col-md-6">
										<div style="font-size:14px;font-weight:bold"> 
										<a ui-sref="editstaff({teacherId:TeacherVO.id})">{{TeacherVO.staffName}} <span data-ng-if="TeacherVO.employeeNumber">({{TeacherVO.staffId}})</span> </a>
										</div>
										<div style="font-size:14px;padding-bottom:5px;color:#626567">
										<span><i><img src="assets/images/calenda.png" style="width:17px;height:17px;"></i>: {{TeacherVO.dob}}</span> 
										</div>
										<div style="font-size:14px;padding-bottom:5px;color:#626567"> 
										 <span><i><img src="assets/images/phone.png" style="width:17px;height:17px;"></i>  : {{TeacherVO.mobileNumber}}</span> 
										</div>
										<div data-ng-if="TeacherVO.emailId" <div style="font-size:14px;padding-bottom:5px;color:#626567"> 
											<i><img src="assets/images/sof.png" style="width:30px;height:30px;"></i>  : {{TeacherVO.emailId}}
										</div>
										<!--<div style="font-size:14px;padding-bottom:5px;color:#626567">
										<span data-ng-if="TeacherVO.country"><i><img src="assets/images/Location-128.png" style="width:30px;height:30px;"></i>: <span data-ng-if="TeacherVO.city"> {{TeacherVO.city}}</span> <span data-ng-if="TeacherVO.state">- {{TeacherVO.state}} </span> - 
										{{TeacherVO.country}}</span> 
										</div>-->
										<!--<i class="glyphicon glyphicon-star"></i> Not updated <i class="glyphicon glyphicon-heart"></i> Not updated -->
									
									</div>
									<div class="col-md-4">
										<table dt-options="dtOptions" class="table table-striped table-bordered table-hover generaltable minotaur-table no-footer dataTable" style="display: table; width: 961px;" role="grid">
											<tr>
												<td colspan="2" style="font-weight:bold" class="change_colr">{{'studentmgmt.staffattendancesummary' | translate}}</td>
											</tr>
											<tr>
												<td class="change_colr">{{'studentmgmt.staffnostu' | translate}}</td>
												<td class="change_colr">{{TeacherVO.totalStudentCount}}</td>
											</tr>
											<tr>
												<td class="change_colr">{{'studentmgmt.presentstudent' | translate}}<i><img src="assets/images/arrow-up-128.png" style="width:25px;height:20px;"></i>
</td>
												<td class="change_colr">{{TeacherVO.presentStudents}}</td>
											</tr>
											<tr>
												<td class="change_colr">{{'studentmgmt.absentstudent' | translate}}<i><img src="assets/images/arrow-down-128.png" style="width:25px;height:20px;"></i>
												</td>
												<td class="change_colr">{{TeacherVO.absentStudents}}</td>
											</tr>
											<tr>
											<td class="change_colr">{{'studentmgmt.presentper' | translate}} <i><img src="assets/images/hjhjhgj.png" style="width:25px;height:25px;"></i>
											</td>
											<td class="change_colr">
												<span style=			"background-color:#6ec06e;padding:5px">{{TeacherVO.studentAttendancePercentage | number : 0}} %
												</span>
											</td>
											</tr>

										</table>

									</div>
								</div>

                            </div>
                            <!-- end ngRepeat: tab in tabset.tabs -->
                            <div class="tab-pane ng-scope" id="secondstep">
                               <div class="col-md-12">
									<div class="form-group col-md-2">
										<div class="thumb thumb-xl" style="width:120px !important;height:120px !important">
											<img data-ng-show="defaultimage" class="media-object img-circle" src="assets/images/default_school.png"  alt="">
											<img data-ng-show="schoolimage" style="height:80px !important" class="media-object img-circle" src="{{image_id}}" alt="">		
										</div>
									</div>
									<div class="form-group col-md-7">
										<table dt-options="dtOptions" class="table table-striped table-bordered table-hover generaltable minotaur-table no-footer dataTable" style="display: table; width: 961px;" role="grid">
											<tr>
												<td colspan="2" style="font-weight:bold" class="change_colr">PERSONAL DETAILS</td>
											</tr>
											<tr>
												<td class="change_colr">ID</td>
												<td class="change_colr">{{TeacherVO.staffId}}</td>
											</tr>
											<tr>
												<td class="change_colr">Name</td>
												<td class="change_colr">{{TeacherVO.staffName}}</td>
											</tr>
											<tr>
												<td class="change_colr">Gender</td>
												<td class="change_colr">{{TeacherVO.genderName}}</td>
											</tr>
											<tr>
												<td class="change_colr">Religion</td>
												<td class="change_colr">{{TeacherVO.religionName}}</td>
											</tr>
											<tr>
												<td class="change_colr">Caste</td>
												<td class="change_colr">{{TeacherVO.casteName}}</td>
											</tr>
											<tr>
												<td class="change_colr">Birthday</td>
												<td class="change_colr">{{TeacherVO.dob}}</td>
											</tr>

											<tr>
												<td colspan="2" style="font-weight:bold" class="change_colr">CONTACT DETAILS</td>
											</tr>
											<tr>
												<td class="change_colr">Primary Contact Number</td>
												<td class="change_colr">{{TeacherVO.mobileNumber}}</td>
											</tr>
											<tr>
												<td class="change_colr">Alertnate Contact Number</td>
												<td class="change_colr">{{TeacherVO.emergencyContactNumber}}</td>
											</tr>

										</table>
									</div>
								</div>
                            </div>

                            <!-- end ngRepeat: tab in tabset.tabs -->
                           <!-- <div class="tab-pane ng-scope" id="thirdstep">
								<div class="col-md-12">
									<div class="col-md-3"></div>
									<div class="row">

										<div class="form-group col-sm-4">
											<label for="About Me" class="control-label ">About Me</label>
											<input name="aboutMe" id="aboutMe" class="form-control" ng-model="StaffVO.aboutMe" placeholder="About Me" type="text">
										</div>
									</div>
									<div class="col-md-3"></div>
									<div class="row">
										<div class="form-group col-sm-4">
											<label for="Hobby" class="control-label ">Hobby</label>
											<input name="hobby" id="hobby" class="form-control" ng-model="StaffVO.hobby" placeholder="Hobby" type="text">
										</div>
									</div>
									<div class="col-md-3"></div>
									<div class="row">
										<div class="form-group col-sm-4">
											<label for="extra " class="control-label ">Extra <span class="text-red">*</span></label>
											<input name="extra" id="extra" class="form-control" ng-model="StaffVO.extra" placeholder="Extra" ng-pattern="/[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])$/" validator="required" valid-method="watch" required-error-message=" Date Of Joining is required" type="text">
										</div>
									</div>
								</div>
                            </div>-->

                        </div>
                    </div>
                </section>
            </div>
            <!----------</form>------------>

            <!-- /tile body -->
        </div>
        <!-- /tile -->
    </div>
        <!-- /tile -->
    </div>

